.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 30%;
        margin: auto;

        input {
            padding: 0.7rem 0.8rem;
            border-radius: 3px;
            background-color: #32312f;
            color: white;
            border: none;
        }

        .login-actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 2rem;
            margin-top: 0.3rem;

            input[type="submit"] {
                background-color: #eb5e28;
                font-weight: 500;

                &:hover {
                    opacity: 90%;
                    cursor: pointer;
                }
            }
        }
    }
}
