.btn {
    font-weight: 500;
    color: white;
    outline: none;
    border: none;
    padding: 0.7em 1.7em;
    border-radius: 5px;
    margin: 0;

    &:hover {
        cursor: pointer;
        opacity: 90%;
    }
}

.primary {
    background-color: #eb5e28;
}

.secondary {
    background-color: #73ba3b;
}
