.navbar {
    background-color: #403d39;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    @media only screen and (max-width: 950px) {
        width: 88%;
        padding: 0 1rem;
    }

    ul {
        padding: 0;
    }

    .logo {
        display: flex;
        gap: 1rem;
        align-items: center;

        .logo-text {
            font-family: "Gugi Regular";
        }
    }

    .nav-items {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0;

        .page-link {
            a {
                font-weight: 600;
                text-decoration: underline;
                text-underline-offset: 6px;
            }
        }
    }
}
