.navbar {
    background-color: #403d39;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;

    .logo {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-right: 2rem;

        .logo-text {
            font-family: "Gugi Regular";
        }
    }

    .nav-items {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0;

        .page-link {
            a {
                font-weight: 600;
                text-decoration: underline;
                text-underline-offset: 6px;
            }
        }
    }
}
