nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #403d39;

    .logo {
        display: flex;
        gap: 1rem;
        align-items: center;

        .logo-text {
            font-family: "Gugi Regular";
        }
    }

    .nav-items {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
